.btn {
  background-color: #64afdc;
  color: #ffffff;
  min-width: 100px;
  text-align: center;
  padding: 0 24px;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.btn-primary {
  background-color: #013b84;
}

.btn-fill {
  width: 100%;
}
