@import 'button.less';
@import 'icon.less';

body {
  font-family: 'Microsoft Yahei';
}

button {
  font-weight: bold;
}

.ant-card {
  &.list-card {
    .ant-card-body {
      padding: 8px;
    }
  }
}

.ant-form {
  .ant-form-vertical {
    padding: 0 0 12px;
    font-size: 18px;
  }

  label {
    font-size: 18px;
  }
}
