@import 'button.less';
@import 'icon.less';

body {
  font-family: 'Microsoft Yahei';
}

button {
  font-weight: bold;
}

.ant-card {
  &.list-card {
    .ant-card-body {
      padding: 8px;
    }
  }
}

.ant-form {
  .ant-form-vertical {
    padding: 0 0 12px;
    font-size: 16px;
  }

  label {
    font-size: 16px;
  }
}

.button1 {
  background-color: #2985c6;
  border-color: #2985c6;
}

.button2 {
  background-color: #013b84;
  border-color: #013b84;
}

.ant-form-item-required::before {
  content: '';
}

.ant-form-item-label > label {
  color: #013b84;
}
.ant-input,
.ant-select-selection {
  border-color: #013b84;
}

.ant-select-selection{
  border-top: 0;
  border-left: 0;
  border-right: 0;
}